@import-normalize; /* bring in normalize.css styles */

html {
  scroll-behavior: smooth; /* Плавный скролл */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Alegre Sans';
  src: url('/fonts/ALEGRESANS-REGULAR.TTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/fonts/GEOLOGICA-VARIABLEFONT_CRSV\,SHRP\,SLNT\,WGHT.TTF')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}
